{% extends "app1/cbv_app_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="display-2">Add new School:</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {% render_field field class="form-control" placeholder=field.label style="border: cyan 1px solid;" %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add School</button>
    </form>
{% endblock %}